.menu-box {
  width: 20%;
  border: 5px dotted #ffffff;
  padding: 25px;
}

.menu-box button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px 0;
}

.menu-box button:hover {
  background-color: #45a049;
}
